<!doctype html>
<html>

<head>
  <title>TV Shows for <%=shopData.shopName%></title>
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
  <h1>TV Shows for <%=shopData.shopName%></h1>
  <form method="POST" action="tv-shows">
    <p>TV Show: <input id="searchQuery" type="text" name="searchQuery" /></p>
    <input type="submit" value="Search TV Shows" />
  </form>
</body>

</html>